@page "/"

<PageTitle>Home</PageTitle>

<h1 style="text-align:center;">Hello, everybody!</h1>
<h3 style="text-align:center;">Welcome to Blazor</h3>


<div style="text-align:center;"><img src="images/Dog_Fan2.png" height="400px" width="auto" alt="dogAndFan" style="border:solid 2px black; border-radius:8px" /></div>

<SurveyPrompt Title="How is Blazor working for you?" />
