<div class="alert alert-info voeter">
    <div>&copy; @Auteur &#x1F913;</div>
    <div>@ChildContent</div>
</div>

@code {
    [Parameter]
    public string? Auteur { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}

