<div class="ms-4 mt-4" style="background-color:lightblue;padding:30px;">
    <h3>Subcomponent</h3>
    @*<p>Doorgegeven waarde : @SubGetal</p>*@
    <SubSubComponent/>
</div>

@code {
    @*[CascadingParameter(Name = "HetGetal")]
    public int SubGetal { get; set; }*@

}
