<div class="ms-4 mt-4" style="background-color:cornflowerblue;padding:30px;">
    <h3>SubSubComponent</h3>
    <p>Doorgegeven waarde: @SubSubGetal</p>
</div>

@code {
    [Parameter]
    public int SubSubGetal { get; set; }
}
